*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Roboto";
  width: 60%;
  margin: auto;
  text-align: center;
}

.square {
  padding: 10px;
  border: 4px solid cornflowerblue;
  display: inline-block;
  height: 80px;
  width: 80px;
  vertical-align: top;
  color: cornflowerblue;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
}

.square:hover {
  background-color: rgb(167, 191, 236);
  border-radius: 6px;
}

.container {
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: auto;
  width: auto;
  vertical-align: top;
  margin: 0 auto;
}

#output {
  background-color: rgb(167, 191, 236);
  border-radius: 5px;
  display: inline-block;
  height: 60px;
  width: 350px;
  padding: 8px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

#body {
  display: inline-block;
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

input {
  display: inline-block;
  width: 10rem;
  height: 20px;
}

button {
  display: inline-block;
  width: 7rem;
  margin-left: 1rem;
  border: 0.2rem solid rgb(167, 191, 236);
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(167, 191, 236);
}

#restart {
  width: 10rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
