body {
  background-color: pink;
}
.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: top;
}
.output-container {
  background-color: lightgrey;
  border: 2px solid black;
  margin: 10px;
  padding: 5px;
  width: 300px;
  height: 50px;
}
.output {
  display: flex;
  padding: auto;
  margin: auto;
  font-family: monospace;
  color: red;
}
