body {
	background-color: pink;
	font-family: monospace;
}

.square {
	background-color: white;
	font-size: 2rem;
	text-align: center;
	height: 50px;
	width: 50px;
	display: inline-block;
	vertical-align: top;
	margin: 0.5em;
	padding: 0.5em;
}
