body {
  background-color: pink;
  text-align: center;
}

.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: top;
}

.boardSizeMessage {
  display: inline-block;
  color: blue;
}

.gameInfo {
  color: red;
}
